<!DOCTYPE html>
<html>
  <head>
      <title> quotable </title>
      <link rel="stylesheet" href="/css/style.css"/>
      <link href='http://fonts.googleapis.com/css?family=Montserrat: 400,700|Patua+One|Varela+Round' rel='stylesheet' type='text/css'>
      <link href="/css/bootstrap-theme.css" rel='stylesheet' type='text/css'>
      <link href="/css/bootstrap.css" rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="gridContainer">
        <div id="sideBar" class="col-sm-2">
          <div id="sideBarBox">
            <div id="logoBox" class="sideBox">
              <a href="/">
                <img src="/img/qLogo.png"/>
              </a>
            </div>
            <div id="search" class="sideBox">
              <input type="text" placeholder="Search for a quotable.."/>
            </div>
            <a href="/">
              <div id="quotables" class="sideBox">
                  <img src="/img/quotableicon.png"/>
                  <span>
                    your <strong> quotables </strong>
                  </span>
              </div>
            </a>
            <a href="/booklet">
              <div id="booklets" class="sideBox">
                  <img src="/img/bookleticon.png"/>
                  <span>
                    your <strong> booklets </strong>
                  </span>
              </div>
            </a>
            <a href="/shared">
              <div id="shared" class="sideBox">
                  <img src="/img/sharedicon.png"/>
                  <span>
                    <strong> shared </strong> to you
                  </span>
              </div>
            </a>
            <div id="angel">
              <img src="/img/angel.jpg">
              <p> Made by: </p>
              <a href="http://twitter.com/duigitize" target="_blank">
              Jay Saringan, </a>
              <a href="http://twitter.com/duigitize" target="_blank">
              Marlo Lao, </a>
              <a href="http://twitter.com/duigitize" target="_blank">
              Riela Antonio, </a>
              <a href="http://twitter.com/duigitize" target="_blank">
              Luigi Dollosa,</a>
            </div>
          </div>
        </div>

        <div id="canvas" class="col-sm-10">
            <div id="quoteStream">
              <div class="quoteBookletTitle"> Booklets </div>
              <div class=bookletRow>              
                <a href="/?booklet=53d3d1021874ea010f76c591">
                  <div class="col-sm-4.5">
                    <img class="bookletIcon" src="/img/bookletTechnopreneurship.png" alt="Technopreneurship"/>
                    <div class="booklet-label">Technopreneurship</div>
                  </div>
                </a>

                <a href="/?booklet=53d3d1021874ea010f76c592">
                  <div class="col-sm-4.5">
                    <img class="bookletIcon" src="/img/bookletDesign.png" alt="Design"/>
                    <div class="booklet-label">Design</div>
                  </div>
                </a>

                <a href="/?booklet=53d3d1021874ea010f76c593">
                  <div class="col-sm-4.5">
                    <img class="bookletIcon" src="/img/bookletBusiness.png" alt="Business" />
                    <div class="booklet-label">Business</div>
                  </div>
                </a>
              </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/jquery.min.js"></script>
  </body>
</html>
