<!DOCTYPE html>
<html>
  <head>
    <title> quotable </title>
    <style type="text/css">
      .example-enter {
        opacity: 0.01;
        transition: opacity .5s ease-in;
      }

      .example-enter.example-enter-active {
        opacity: 1;
      }
    </style>
    <script src="/js/react-with-addons.min.js"></script>
    <script src="/js/jquery.min.js"></script>
  </head>
  <body>
    <div id="sideBar"></div>
    <div id="quoteStream"></div>
    <script src="/js/build/quotable.js"></script>
  </body>
</html>
