<!DOCTYPE html>
<html>
  <head>
      <title> quotable </title>
      <link rel="stylesheet" href="/css/style.css"/>
      <link href='http://fonts.googleapis.com/css?family=Montserrat: 400,700|Patua+One|Varela+Round' rel='stylesheet' type='text/css'>
      <link href="/css/bootstrap-theme.css" rel='stylesheet' type='text/css'>
      <link href="/css/bootstrap.css" rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="gridContainer">
        <div id="sideBar" class="col-sm-2">
          <div id="sideBarBox">
            <div id="logoBox" class="sideBox">
              <a href="/">
                <img src="/img/qLogo.png"/>
              </a>
            </div>
            <div id="search" class="sideBox">
              <input type="text" placeholder="Search for a quotable.."/>
            </div>
            <a href="/">
              <div id="quotables" class="sideBox">
                  <img src="/img/quotableicon.png"/>
                  <span>
                    your <strong> quotables </strong>
                  </span>
              </div>
            </a>
            <a href="/booklet">
              <div id="booklets" class="sideBox">
                  <img src="/img/bookleticon.png"/>
                  <span>
                    your <strong> booklets </strong>
                  </span>
              </div>
            </a>
            <a href="/shared">
              <div id="shared" class="sideBox">
                  <img src="/img/sharedicon.png"/>
                  <span>
                    <strong> shared </strong> to you
                  </span>
              </div>
            </a>
            <div id="angel">
              <img src="/img/angel.jpg">
              <p> Made by: </p>
              <a href="http://twitter.com/toothpaste_" target="_blank">
              Jay Saringan, </a>
              <a href="http://twitter.com/marlolao" target="_blank">
              Marlo Lao, </a>
              <a href="http://twitter.com/rielaisabel" target="_blank">
              Riela Antonio, </a>
              <a href="http://twitter.com/duigitize" target="_blank">
              Luigi Dollosa,</a>
            </div>
          </div>
        </div>

        <div id="canvas" class="col-sm-10">
            <div id="quoteStream"></div>
            <div id="fb-root"></div>
    </div>

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.timeago.js"></script>
    <script type="text/javascript" src="/js/react-with-addons.js"></script>
    <script type="text/javascript" src="/js/build/quotable.js"></script>
  </body>
</html>
