body, html {
	background-image:  url(../images/LandingA.png);
	background-size: cover;
	background-color: rgb(250, 250, 250);

	height: 100%;

	font-family: 'Montserrat', sans-serif;
}

section {
	height: 100%;
	overflow: auto;
    -webkit-overflow-scrolling: touch;
}

button {
	width: 100%;
	height: 50px;
}

.navbar, .navbar-collapse {
	background-color: transparent;
	border-radius: 0;
	height: 13%;
	border: 0;
	margin-left: auto;
  	margin-right: auto;
  	float: none;
}

.logo {
	height: 65px;
	width: 200px;
}

/* home */

#home {
	background-size: cover;
	color: white;
}

.headline h1 {
	font-weight: 700;
	color: rgb(55,55,55);
}

.tagline h3, .headline h2 {
	font-family: "Varela Round";
	color: rgb(120,120,120);
}

.btn-beta, .text-beta {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	text-align: center;
	width: 100%;
	border: 2px solid green;
	height: 50px;
	width: 90%;

	margin: 10px;
}

.text-beta {
	color: rgb(100, 100, 100);
	border: solid 2px rgb(200, 200, 200);
}

.btn-beta {
	background-color: rgb(52,180,132);
}

.btn-beta:hover, .btn-beta:focus, .btn-beta:active {
	border: 2px solid green;
	outline: 0;
}

.copy > div, .landing-2 > div {
	padding-top: 5%;
}

.thanks {
	text-align: center;
}


