body {
  background-color: rgb(250, 250, 250);
}

#sideBarBox a {
    text-decoration: none;
}

.sideBox {
    color: #333;
}

.booklet-label {
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
    text-align: center;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.bookletIcon {
  width: 200px;
  height: 250px;
  border-right: 10px solid rgb(241, 194, 71);
  text-align: center;

  -webkit-box-shadow: 5px 5px 5px 0px rgba(156,156,156,1);
  -moz-box-shadow: 5px 5px 5px 0px rgba(156,156,156,1);
  box-shadow: 5px 5px 5px 0px rgba(156,156,156,1);
}

.bookletStrap {
  width: 10px;
  height: 250px;
  margin-right: 20px;
}

.bookletRow {
  display: inline-block;
  padding: 50px;
  text-align: center;
}

.example-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
    opacity: 1;
}

#sideBar, .quoteStream {
  display: inline-block;
  background-color: white;  
}

#sideBarBox {
  height: 100%;
  width: 250px;

  border: 1px solid rgb(191, 191, 191);
  border-top: 0px;

  font-family: 'Montserrat', sans-serif;
  font-size: 100%;

  padding: 0px 0px 0px 0px;
  margin-left: -15px;
  position: fixed;
  background-color: white; 
  /*  margin-top: -10px;*/
}

#logoBox {
  text-align: center;
  background-color: rgb(221, 39, 115);
  padding: 0px;
}

#logoBox img {
  width: 200px;
  height: 45px;
  vertical-align: middle;
  margin: 10px 0px 10px 0px;
}

.sideBox {
  padding: 10px 10px;
  border-bottom: 1px solid rgb(191, 191, 191);
}

.sideBox img {
  width:  50px;
  margin-right: 10px;
  height: 50px;
  vertical-align: middle;
}

#search input {
  width:  220px;
  text-align: center;
  font-size: 100%;
}

#canvas {
  text-align: center;
}

#quoteStream {
  width: 700px;
  vertical-align: top;
  margin: 0 auto;
  overflow: hidden;
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid rgb(242, 242, 242);
  z-index: 1;    
}

.quoteBox {
    text-align: left;
}

.quoteBox:hover .quoteLogo {
  visibility: visible;
}

.quoteLogo {
  float: right;
  margin-right: 0px;
  margin-top: -70px;
/*  visibility: hidden;*/
}

.quoteLogo a {
  margin-right: 50px;
  display: inline-block;
}

.quoteLogo img { 
  height: 40px;
  width: 40px;
  position: absolute;
  border-right: 5px solid rgb(241, 194, 71);
  opacity: 0.4;
}

@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 0 #333; }
  to { background-color: #91bd09; -webkit-box-shadow: 0 0 20px #91bd09; }
}

.quoteLogo img:hover {
    background-color: #91bd09;
    -webkit-animation-name: greenPulse;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-box-shadow: 0 0 20px #91bd09;

  cursor:pointer;
  opacity: 1.0;
}

.quoteText {
    font-family: 'Patua One', cursive;
    font-size: 175%;
    padding-left: 5%;
    margin-bottom: 3%;
    border-left: 6px solid rgb(221, 39, 115);
    font-color: rgb(74, 63, 43);
}

.quoteTitle {
    font-family: 'Patua One', cursive;
    font-size:  120%;
    max-width: 600px;
}

.quoteTitle a:link, .quoteTitle a:visited, .quoteTime {
    color:  rgb(89, 89, 89);
    text-decoration: none;
}

.quoteTime {
    font-family: 'Montserrat', sans-serif;
}

.quoteTitle, .quoteTime {
    margin-bottom: 2%;
}

.quoteTime {
    font-size: 80%;
}

#canvas {
    background-color: rgb(250, 250, 250);
    z-index: -1;
}

.quoteBookletTitle {
  height: 60px;
  margin-top: 9px;
  border-bottom: 1px solid rgb(221, 221, 221);
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  font-size: 200%;
  margin-bottom: 20px;
  color: rgb(221, 39, 115);
}

#angel {
  margin: 20px;
  margin-left: 40px;
}

#angel img {
  height: 140px;
  width: 160px;
  margin-bottom: 10px;
}
